{% extends 'appWeb/padre.html' %}
{% load static %}
{% block section1 %}
<h1>Lista Mozos</h1>

<center>
{% for Mozo in object_list %}
    
<h3>
<br><li> {{Mozo}} </li>
</h3>    
    
    <a href="{% url 'Mozodetail' Mozo.id %}" class="button1">Detalle</a>

    <a href="{% url 'Mozoupdate' Mozo.id %}" class="button1">Editar</a>
    
    <a href="{% url 'Mozodelete' Mozo.id %}" class="button1">Eliminar</a>
    
{% endfor %}
</center>
<br>
<br>
<center><a href="{% url 'Mozocreate' %}" class="button1">Crear</a></center>

{% endblock %}