{% extends 'appWeb/padre.html' %}
{% load static %}
{% block section1 %}

<h3>Personal Mozos</h3>
<br>
<br>
<br>
<form action="{% url 'mozoFormulario' %}" method="POST"> {% csrf_token %}    <!--Se utiliza esta sintaxis para generar un token de POST-->
   
    <div class="masthead-subheading"><center><table>
        {{ mozoForm.as_table }} 
        
    
    
    </table>

    <input type="submit" value="Enviar">
    </center></div>
</form>

{% endblock %}

{% block getpost %}
       


{% endblock %}
